{% extends "records/base.html" %}

{% block content %}

<h2>Update Record</h2>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

<label>Title</label>
<input type="text" name="title" value="{{ record.title }}">

<label>Description</label>
<textarea name="description">{{ record.description }}</textarea>

<label>Current File</label><br>

{% if record.file %}
    {% if '.jpg' in record.file.url or '.jpeg' in record.file.url or '.png' in record.file.url %}
        <img src="{{ record.file.url }}" width="200px"><br><br>
    {% else %}
        <a href="{{ record.file.url }}">Open Current File</a><br><br>
    {% endif %}
{% endif %}

<label>Replace File (optional)</label>
<input type="file" name="file">

<button type="submit">Update Record</button>

</form>

{% endblock %}